<p>Hello <%= @user.email %>,</p>
<p>We wanted to let you know that <%= link_to "#{@rental.location}", rental_path(@rental) %> has been booked.</p>
<p>Thanks for using Sharebnb to rent out your unit!</p>
