<h1>Sharebnb</h1>
<hr>
<h3>Available Rentals</h3>

<ul>
<% @rentals.each do |rental| %>
  <% if rental.guests.to_i > Reservation.total_booked(rental.id).to_i %>
    <a href="/rentals/<%=rental.id%>">
    <div class="panel panel-info">
      <div class="panel-body" id="highlighted">
        <div class="row">
          <div class="col-md-3">
            <%= image_tag rental.img.url(:medium) %>
          </div>
          <div class="col-md-9">
          <%= rental.location %> | <%= rental.description %>
          </div>
        </div>
      </div>
    </div>
    </a>
  <% end %>
<% end %>

