<h1>Sharebnb</h1>
<hr>
<h3>Available Rentals</h3>

<ul>
<% @rentals.each do |rental| %>
  <div class="panel panel-info">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          rental.picture here
        </div>
        <div class="col-md-8">
        <%= rental.location %> | <%= rental.description %>
        </div>
      </div>
    </div>
  </div>
<% end %>

